body{ background-color: rgb(188, 99, 164);
margin: 0;
}

#menu{ background-color: rgb(208, 133, 164);
    width: 300px;
    height: 1600px;
    text-align: center;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.304);
    margin-top: -30px;
}

.logo{
     margin-top: 70px;
     width: 200px;
     border-radius: 50%;
     border: 6px double rgb(188, 99, 164);
     box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
}

h1, h2{
  font-size: 1.2rem;
  font-family: "Pinyon Script", cursive;
  color: brown;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
} 

.links1{
text-decoration: none;
color: brown;
font-size: 1.5rem;
font-family: "Pinyon Script", cursive;
display: flex;
flex-direction: column;
padding: 1rem 0;
transition: all 0.7s ease;
}

.links1:hover {
background-color:rgb(255, 0, 64);
color: white;
font-size: 1.7rem;
font-weight: bold;
}

header{
  float: left;
}

#info01{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 21rem;
  padding:1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
}


#info02{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px; 
}



#info03{
  background-color:rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#info04{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#info05{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#info06{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#info07{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#info08{
  background-color: rgba(208, 133, 164, 0.808);
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.304);
  width: 300px;
  height: 200px;
}

#conteudo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer{
  background-color: rgb(188, 99, 164);
  color: white;
  font-size: 1.6rem;
  font-family:"Pinyon Script", cursive; 
  text-align: center;
  clear: both;
  padding: 0.3rem;
}

#midias{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

